body {
    font-family: Arial, sans-serif;
    background-color: #303032;
    color: #000;
}
.collapsible {
    background-color: #585858;
    color: white;
}
.active, .collapsible:hover {
    background-color: #787878;
}
.content {
    border: 1px solid #ddd;
    background-color: #303032;
}
th {
    font-size: 18px /* Slightly larger font size for headers */;
    background-color: #505050;
}
table {
    width: 80% /* Adjusted table width for better spacing */;
    margin: 20px auto /* Center table on the page */;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1) /* Soft shadow around the table */;
}
th, td {
    border: 1px solid #b5b0b0 /* Subtle border color */;
    padding: 12px 15px /* Increased padding for better spacing */;
    text-align: left;
    font-size: 16px /* Larger font size for improved readability */;
    background-color: #7d7d7d;
}
#TableId th, #TableId td {
    background-color: #505050 !important; /* Dark background for cells */
    color: #c4c3c2 !important; /* Text color */
}
#TableId th {
    background-color: #c4c3c2 !important; /* Dark background for headers */
}
#TableId tbody tr.odd td {
    background-color: #c4c3c2 !important; /* Slightly different color for odd rows */
}
#TableId tbody tr.even td {
    background-color: #c4c3c2 !important; /* Color for even rows */
}
.entry {
    background-color: #505050; /* Dark grey background for each entry */
}
.title {
    color: #c4c3c2; /* Light grey text color to match the table headers */
}
.snippet {
    color: #d5d2ce; /* Light grey text color for consistency */
}
.checkbox, label {
    color: #c4c3c2; /* Ensure checkbox labels are also light grey */
}
button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px /* Rounded corners for the button */;
    transition: background-color 0.3s ease /* Smooth transition for hover effect */;
    background-color: #585858; /* Button background */
    color: white; /* Button text color */
}
button:hover {
    background-color: #787878; /* Darker background on hover */
}
