
body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    color: #333;
}
.collapsible {
    background-color: #446387;
    color: white;
}
.active, .collapsible:hover {
    background-color: #34567b;
}
.content {
    background-color: #e6e5e5;
    border: 1px solid #ddd;
}
th, td {
    border: 1px solid #b5b0b0; /* Subtle border color */
    padding: 12px 15px; /* Increased padding for better spacing */
    text-align: left;
    font-size: 16px; /* Larger font size for improved readability */
}
th {
    background-color: #446387; /* Darker shade for header */
    color: white; /* White text for contrast */
    font-size: 18px; /* Slightly larger font size for headers */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra-striping for rows */
}

tr:hover {
    background-color: #ddd; /* Highlight row on hover */
    cursor: pointer; /* Change cursor to indicate interactivity */
}

table {
    width: 80%; /* Adjusted table width for better spacing */
    margin: 20px auto; /* Center table on the page */
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1); /* Soft shadow around the table */
}
button {
    background-color: #446387; /* Match the header */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
/* Styling for the checkbox */
input[type="checkbox"] {
    margin-right: 10px; /* Space out checkbox from text */
}
