{
  "openai_api_key": "secretkey",
  
  "stepstone_url": "https://www.stepstone.de/work/in-berlin?radius=30&action=facet_selected%3bage%3bage_7&ag=age_7",
  "indeed_url": "https://de.indeed.com/jobs?q=&l=Berlin&fromage=14&sort=date",

  "user_interests": ["IT", "Software Development"],
  "jobs_to_avoid": ["senior", "expert", "internship", "educational training", "Data Analysis", "SAP"]
}